/** font face **/
@font-face {
  font-family: 'JosefinSansBold';
  src: url("../fonts/JosefinSansBold.eot");
  src: url("../fonts/JosefinSansBold.eot") format("embedded-opentype"), url("../fonts/JosefinSansBold.woff2") format("woff2"), url("../fonts/JosefinSansBold.woff") format("woff"), url("../fonts/JosefinSansBold.ttf") format("truetype"), url("../fonts/JosefinSansBold.svg#JosefinSansBold") format("svg");
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTProMedium.eot");
  src: url("../fonts/AvenirLTProMedium.eot") format("embedded-opentype"), url("../fonts/AvenirLTProMedium.woff2") format("woff2"), url("../fonts/AvenirLTProMedium.woff") format("woff"), url("../fonts/AvenirLTProMedium.ttf") format("truetype"), url("../fonts/AvenirLTProMedium.svg#AvenirLTProMedium") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTProLight.eot");
  src: url("../fonts/AvenirLTProLight.eot") format("embedded-opentype"), url("../fonts/AvenirLTProLight.woff2") format("woff2"), url("../fonts/AvenirLTProLight.woff") format("woff"), url("../fonts/AvenirLTProLight.ttf") format("truetype"), url("../fonts/AvenirLTProLight.svg#AvenirLTProLight") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTProRoman.eot");
  src: url("../fonts/AvenirLTProRoman.eot") format("embedded-opentype"), url("../fonts/AvenirLTProRoman.woff2") format("woff2"), url("../fonts/AvenirLTProRoman.woff") format("woff"), url("../fonts/AvenirLTProRoman.ttf") format("truetype"), url("../fonts/AvenirLTProRoman.svg#AvenirLTProRoman") format("svg");
  font-style: normal;
  font-weight: 400;
}

/** font face **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 55px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
  color: #00349a;
  line-height: 55px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
}

h2 {
  font-size: 32px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
}

h3 {
  font-size: 28px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
}

h4 {
  font-size: 24px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
}

h5 {
  font-size: 20px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
}

h6 {
  font-size: 18px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
}

/** CSS for pace preloader **/
body:before, body:after {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.pace {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #ffffff;
}

.pace-inactive {
  opacity: 0;
  filter: alpha(opacity=0);
}

.pace .pace-progress {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
}

/** CSS for pace preloader **/
header {
  background: #ffffff;
  position: fixed;
  z-index: 1001;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 992px) {
  header .logo {
    max-width: 130px;
  }
  header .inquire {
    margin: 14px 0;
  }
  header .inquire a {
    line-height: 38px;
    font-size: 16px;
  }
}

@media (max-width: 992px) and (max-width: 640px) {
  header .inquire a {
    font-size: 14px;
    line-height: 32px;
    padding: 0px 15px;
    font-family: "Avenir", "Helvetica", "sans-serif";
    font-weight: 300;
    letter-spacing: 0.2;
  }
}

@media (max-width: 640px) {
  header .logo {
    max-width: 100px;
  }
}

header.minimize .logo {
  max-width: 130px;
}

@media (max-width: 640px) {
  header.minimize .logo {
    max-width: 100px;
  }
}

header.minimize .inquire {
  margin: 14px 0;
}

header.minimize .inquire a {
  line-height: 38px;
  font-size: 16px;
}

@media (max-width: 640px) {
  header.minimize .inquire a {
    font-size: 14px;
    line-height: 32px;
    padding: 0px 15px;
    font-family: "Avenir", "Helvetica", "sans-serif";
    font-weight: 300;
    letter-spacing: 0.2;
  }
}

.logo {
  max-width: 190px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo img {
  width: 100%;
  display: block;
  height: auto;
}

.inquire {
  margin: 23px 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 640px) {
  .inquire {
    margin: 11px 0 !important;
  }
}

.inquire a.btn {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.inquire a.btn:hover {
  background: #1F9257;
  box-shadow: 0 2px 8px 0 transparent;
  color: #ffffff;
}

footer {
  z-index: 2;
  position: relative;
  background: #ffffff;
  border-top: 5px solid #00349a;
}

@media (max-width: 767px) {
  footer {
    border-top: 3px solid #00349a;
  }
}

.copyright {
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .copyright {
    font-size: 12px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
}

/*** Custom ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", "Helvetica", "sans-serif";
  background: #eff2f7;
  font-weight: 300;
  color: #333;
  font-size: 16px;
  line-height: 25px;
  min-width: 320px;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
  color: #00349a;
}

strong {
  font-weight: 500;
}

#main-wrapper {
  padding-top: 94px;
}

@media (max-width: 992px) {
  #main-wrapper {
    padding-top: 66px;
  }
}

@media (max-width: 640px) {
  #main-wrapper {
    padding-top: 54px;
  }
}

.clr {
  float: none;
  clear: both;
}

.clr:before {
  content: '';
  display: block;
  float: none;
  clear: both;
}

.clr:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.max-container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
  color: #fff;
  background: #08a957;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  line-height: 47px;
  padding: 0px 25px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.text-center {
  text-align: center;
}

.banner-wrap {
  height: calc(100vh - 94px);
  position: relative;
  overflow: hidden;
  max-height: 800px;
}

@media (max-width: 767px) {
  .banner-wrap {
    height: auto;
  }
}

@media (max-width: 767px) {
  .banner-wrap .table-wrap {
    display: block;
    position: relative;
    height: auto;
  }
}

@media (max-width: 767px) {
  .banner-wrap .table-wrap .table-cell {
    display: block;
    clear: both;
    width: 100%;
  }
}

.banner-wrap-map {
  width: 70%;
  float: right;
  height: calc(100vh - 94px);
  position: relative;
}

.banner-wrap-map img {
  display: none;
}

@media (max-width: 992px) {
  .banner-wrap-map {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .banner-wrap-map {
    width: 100%;
    float: none;
    clear: both;
    height: auto;
  }
  .banner-wrap-map img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.banner-wrap-map:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 706px;
  height: 100%;
  background: url("../images/page_template/overlay.png") no-repeat left bottom;
  background-size: cover;
}

@media (max-width: 1024px) {
  .banner-wrap-map:before {
    left: -150px;
  }
}

@media (max-width: 992px) {
  .banner-wrap-map:before {
    left: -50px;
  }
}

@media (max-width: 767px) {
  .banner-wrap-map:before {
    display: none;
  }
}

.banner-map {
  background-image: url("../images/page_template/banner.jpg");
  background-repeat: no-repeat;
  height: calc(100vh - 94px);
  width: 100%;
  background-size: cover;
  background-position: top center;
  z-index: 1;
  position: relative;
}

.banner-map .map-link {
  display: none;
}

@media (max-width: 767px) {
  .banner-map .map-link {
    display: block;
  }
}

@media (max-width: 767px) {
  .banner-map {
    background-image: none;
    height: auto;
  }
}

.table-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  z-index: 102;
}

.table-wrap .table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.banner-content {
  width: 50%;
  max-width: 685px;
  position: relative;
  z-index: 888;
}

@media (max-width: 767px) {
  .banner-content {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

.banner-content h1 {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .banner-content h1 {
    font-size: 30px;
    line-height: 38px;
  }
}

.banner-content p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .banner-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .banner-content p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .banner-content p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

.banner-content a.btn {
  margin-top: 45px;
  font-family: "Avenir", "Helvetica", "sans-serif";
  color: #2852a6;
  border: 1px solid #2852a6;
  background: transparent;
  padding: 0px 25px;
  letter-spacing: 0;
  line-height: 45px;
}

.banner-content a.btn:hover {
  background: rgba(40, 82, 166, 0.8);
  color: #ffffff;
}

@media (max-width: 767px) {
  .banner-content a.btn {
    display: none;
  }
}

/*** ABOVE THE FOLD **/
.chat-module {
  position: fixed;
  z-index: 2001;
  right: 0;
  bottom: 0px;
  width: 203px;
}

.chat-module .chat-module-desktop {
  display: block;
}

.chat-module .chat-module-mobile {
  display: none;
}

.chat-module img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .chat-module {
    width: 120px;
    right: 15px;
  }
  .chat-module .chat-module-desktop {
    display: none;
  }
  .chat-module .chat-module-mobile {
    display: block;
    width: 120px;
    margin-bottom: 8px;
  }
}

.home-slider {
  min-height: 455px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .home-slider {
    min-height: 355px;
  }
}

.home-slider .flexslider {
  height: 100%;
  position: absolute;
  width: 100%;
}

.home-slider .video-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-slider .video-holder:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
  position: absolute;
}

@media (max-width: 640px) {
  .home-slider .video-holder:before {
    background: rgba(0, 0, 0, 0.5);
  }
}

.home-slider .video-holder video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-slider .flexslider {
  height: 100%;
  position: absolute;
  width: 100%;
}

.home-slider .flexslider .table-wrap {
  min-height: 455px;
  height: 455px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .home-slider .flexslider .table-wrap {
    min-height: 355px;
    height: 355px;
  }
}

.home-slider .flexslider .slides > li {
  height: 455px;
}

@media (max-width: 767px) {
  .home-slider .flexslider .slides > li {
    height: 355px;
  }
}

.home-slider .flexslider .slides > li:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  z-index: 98;
}

.home-slider .flexslider .caption-content {
  opacity: 0;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

.home-slider .flexslider .caption-content h2 {
  color: #fff;
  margin-bottom: 15px;
}

.home-slider .flexslider .caption-content p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 767px) {
  .home-slider .flexslider .caption-content p {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .home-slider .flexslider .caption-content p {
    font-size: 14px;
    line-height: 20px;
  }
}

.home-slider .flexslider li.flex-active-slide .caption-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.home-slider .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.home-slider .flex-control-nav {
  z-index: 99;
  max-width: 1140px;
  bottom: 10px;
  left: 50%;
  margin-left: -570px;
  text-align: right;
}

@media (max-width: 992px) {
  .home-slider .flex-control-nav {
    bottom: 70px;
    left: 0;
    margin-left: 0;
    padding-right: 15px;
  }
}

.home-slider .flex-control-paging li {
  margin: 0px 4px;
  display: inline-block;
  zoom: 1;
}

.home-slider .flex-control-paging li a {
  width: 15px;
  height: 30px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transform: rotate(10deg) skew(-10deg, -10deg);
  -moz-transform: rotate(10deg) skew(-10deg, -10deg);
  transform: rotate(10deg) skew(-10deg, -10deg);
  background: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: left;
}

.home-slider .flex-control-paging li a:hover {
  background: #08a957;
}

.home-slider .flex-control-paging li a.flex-active {
  background: #08a957;
}

.home-slider .play img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: inline-block;
}

.home-slider .caption {
  position: relative;
  z-index: 300;
}

.featured-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto 15px;
  position: relative;
  overflow: hidden;
}

.featured-logo img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .featured-logo {
    width: 90px;
    height: 90px;
  }
}

.inquire-form {
  background: #ffffff;
  margin: -62px auto 80px;
  border-radius: 4px;
  max-width: 790px;
  position: relative;
  padding: 62px 15px 20px;
  z-index: 200;
}

@media (max-width: 992px) {
  .inquire-form {
    padding: 50px 15px 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .inquire-form {
    padding: 50px 15px 15px;
  }
}

.inquire-form form {
  max-width: 562px;
  margin: 0 auto;
}

.inquire-form .sec-head h3.sec-title {
  padding-top: 15px;
  margin-bottom: 25px;
}

.inquire-form p {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .inquire-form p {
    font-size: 14px;
  }
}

.inquire-form p a:hover {
  color: #00349a !important;
}

.inquire-form .btn {
  padding: 0px 35px;
  font-family: "Avenir", "Helvetica", "sans-serif";
  text-transform: uppercase;
}

.inquire-form .btn:disabled {
  background: #dddddd;
}

.input-wrap {
  margin: 0 0 25px;
  padding-top: 5px;
  position: relative;
}

@media (max-width: 767px) {
  .input-wrap {
    margin: 0px 0px 15px;
  }
}

.input-wrap.error input[type="text"], .input-wrap.error input[type="email"], .input-wrap.error input[type="tel"] {
  border: 1px solid #9d0202;
}

.input-wrap.error .required-info {
  opacity: 1;
  visibility: visible;
}

.input-wrap .required-info {
  position: absolute;
  font-size: 12px;
  color: #9d0202;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  bottom: -22px;
  margin-bottom: 0;
}

.input-wrap label {
  position: absolute;
  top: -6px;
  left: 15px;
  line-height: 16px;
  background: #fff;
  display: inline-block;
  padding: 5px 10px 0;
}

@media (max-width: 640px) {
  .input-wrap label {
    font-size: 14px;
  }
}

.input-wrap label span {
  color: #9d0202;
  display: inline-block;
  margin: 0px 3px;
  font-weight: 700;
}

.input-wrap input[type="text"], .input-wrap input[type="email"], .input-wrap input[type="tel"] {
  width: 100%;
  outline: none;
  border: 1px solid #c2c2c2;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .input-wrap input[type="text"], .input-wrap input[type="email"], .input-wrap input[type="tel"] {
    padding: 10px 15px;
  }
}

@media (max-width: 767px) {
  .input-wrap input[type="text"], .input-wrap input[type="email"], .input-wrap input[type="tel"] {
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 640px) {
  .input-wrap input[type="text"], .input-wrap input[type="email"], .input-wrap input[type="tel"] {
    padding: 8px 15px;
  }
}

.sec-head {
  max-width: 885px;
  margin: 0 auto;
  text-align: center;
}

.sec-head h3.sec-title {
  font-size: 38px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
  color: #00349a;
  line-height: 48px;
  text-align: center;
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .sec-head h3.sec-title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .sec-head h3.sec-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.sec-head p {
  max-width: 640px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .sec-head p {
    font-size: 14px;
    line-height: 20px;
  }
}

.other-prop-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
}

@media (max-width: 767px) {
  .other-prop-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.other-properties {
  padding-bottom: 50px;
}

.other-properties .owl-carousel {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .other-properties .owl-carousel {
    margin-top: 20px;
  }
}

.other-properties .owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.other-properties .owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.other-properties .owl-carousel .owl-stage-outer {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.other-properties .owl-carousel .item {
  padding: 0px 15px;
}

@media (max-width: 992px) {
  .other-properties .owl-carousel .item {
    padding: 0px 8px;
  }
}

@media (max-width: 640px) {
  .other-properties .owl-carousel .item {
    padding: 0px 0px;
  }
}

.other-properties .owl-nav > div {
  width: 34px;
  height: 58px;
  text-align: left;
  position: relative;
  overflow: hidden;
  text-indent: -99999px;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
}

.other-properties .owl-nav .owl-prev {
  left: -40px;
  top: 50%;
  background: url("../images/page_template/arrow-left.png") no-repeat center center;
  margin-top: -29px;
  background-size: 75% 75%;
}

@media (max-width: 767px) {
  .other-properties .owl-nav .owl-prev {
    background-size: 50% 50%;
    left: -30px;
  }
}

.other-properties .owl-nav .owl-prev:hover {
  opacity: 1;
}

.other-properties .owl-nav .owl-next {
  right: -40px;
  top: 50%;
  background: url("../images/page_template/arrow-right.png") no-repeat center center;
  margin-top: -29px;
  background-size: 75% 75%;
}

@media (max-width: 767px) {
  .other-properties .owl-nav .owl-next {
    background-size: 50% 50%;
    right: -30px;
  }
}

.other-properties .owl-nav .owl-next:hover {
  opacity: 1;
}

.featuredprop-item {
  position: relative;
  overflow: hidden;
}

.featuredprop-item a {
  display: block;
}

.featuredprop-item a:hover .feature-info {
  padding-bottom: 15px;
}

.featuredprop-item .feature-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 52, 154, 0.6);
  color: #ffffff;
  padding: 4px 10px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.featuredprop-item .feature-info span {
  display: block;
  line-height: 18px;
  font-size: 14px;
}

.featuredprop-item .property-status {
  position: absolute;
  top: 0;
  width: 100%;
  background: #08aa57;
  padding: 8px 10px;
  z-index: 2;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 992px) {
  .featuredprop-item .property-status {
    font-size: 14px;
  }
}

.featuredprop-item .property-status.status-ready {
  background: #00349a;
}

.featuredprop-item .property-status.status-new {
  background: #E69138;
}

.featuredprop-item .featuredprop-img {
  position: relative;
  overflow: hidden;
}

.featuredprop-item .featuredprop-img img {
  width: 100%;
  display: block;
  height: auto;
}

/* Base for label styling */
.custom-checkbox {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .custom-checkbox {
    margin-bottom: 8px;
  }
}

.custom-checkbox [type="checkbox"]:not(:checked),
.custom-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.custom-checkbox [type="checkbox"]:not(:checked) + label,
.custom-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  font-size: 13px;
  font-style: italic;
}

@media (max-width: 640px) {
  .custom-checkbox [type="checkbox"]:not(:checked) + label,
  .custom-checkbox [type="checkbox"]:checked + label {
    font-size: 11px;
    line-height: 16px;
  }
}

/* checkbox aspect */
.custom-checkbox [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 5px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-checkbox [type="checkbox"]:checked + label:before {
  background: #77c845;
}

/* checked mark aspect */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox [type="checkbox"]:checked + label:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 13px;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}

/* checked mark aspect changes */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.custom-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.custom-checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.custom-checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}

.popup-wrap {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 3001;
}

.popup-wrap.active {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  max-width: 600px;
  padding: 40px 15px;
  background: #ffffff;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.popup-content .c-close {
  color: #00349a;
  font-size: 24px;
  position: absolute;
  top: 4px;
  right: 5px;
}

.popup-content h2 {
  font-size: 32px;
  font-family: "JosefinSansBold", "Helvetica", "sans-serif";
  color: #00349a;
  margin-bottom: 15px;
}

.popup-content p {
  font-size: 18px;
}

.popup-content .btn {
  margin-top: 35px;
}
